{% extends "./base.html" %}
{% block start %}
    <h1>Hello</h1>
    <table>
  <tr>
    <th>No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can Vote</th>
  </tr>
      {% for people in peoples %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td>
      {% if people.age >= 18 %}
      Yes
      {% else %}
      NO
      {% endif %}
    </td>
  </tr>
      {% endfor %}
</table>
    <p>{{text|truncatechars:20}}</p>
    {%if "tomato" in vegetables %}
    <p>yes</p>
    {% else %}
    <p>Not available</p>
    {% endif %}
    <a href="/about">
      about
    </a>
        <a href="/contact">
      contact
    </a>
{% endblock %}

